<launch>
    <arg name="manual_control" default="false" />

    <!-- scene config -->
    <!-- <arg name="scene" default="mbs" /> -->
    <!-- <arg name="scene" default="hangar" /> -->
    <arg name="scene" default="crane" />
    
    <!-- Launch the simulator 生成仿真器-->
    <!-- <include file="$(find caric_mission)/launch/run_mbs.launch" /> -->
    <!-- <include file="$(find caric_mission)/launch/run_hangar.launch"/> -->
    <include file="$(find caric_mission)/launch/run_crane.launch"/>

    <param name="scene" type="string"  value="$(arg scene)" />
    <!-- Central coordinator -->
    <node name="gcs_task" pkg="caric_baseline" type="gcs_task"  />
    <!-- <node name="gcs_talker" pkg="caric_baseline" type="initial_task"  /> -->

    <group ns="jurong">
        
        <arg name="namespace"  default="jurong" />

        <node name="vision_create" pkg="vision_create_new" type="process_pcd" launch-prefix="bash -c 'sleep 5; $0 $@'" >
            <remap from="/slf_kf_cloud"                to="/$(arg namespace)/slf_kf_cloud" />
            <remap from="/Octomap"                     to="/$(arg namespace)/Octomap" />
            <remap from="/ViewPoints_Points"           to="/$(arg namespace)/ViewPoints_Points" />
            <remap from="/ViewPoints_Lines"            to="/$(arg namespace)/ViewPoints_Lines" />
            <remap from="/ViewPoints"                  to="/$(arg namespace)/ViewPoints" />
            <remap from="/ViewPoints_lines"            to="/$(arg namespace)/ViewPoints_lines" />
        </node>

        <node name="baseline_planner" pkg="caric_baseline" output="screen" type="baseline_planner" launch-prefix="bash -c 'sleep 5; $0 $@'" >

            <!-- Input topics -->
            <remap from="/cloud_inW"                   to="/$(arg namespace)/cloud_inW" />
            <remap from="/nbr_odom_cloud"              to="/$(arg namespace)/nbr_odom_cloud" />
            <remap from="/firefly/gimbal"              to="/$(arg namespace)/gimbal" />
            <remap from="/ground_truth/odometry"       to="/$(arg namespace)/ground_truth/odometry" />

            <!-- Control outputs -->
            <remap from="/firefly/command/gimbal"      to="/$(arg namespace)/command/gimbal" />
            <remap from="/firefly/command/trajectory"  to="/$(arg namespace)/command/trajectory" />

            <!-- Vizualization -->
            <remap from="/firefly/map"                 to="/$(arg namespace)/map" />
            <remap from="/firefly/Nbr_mask"            to="/$(arg namespace)/Nbr_mask" />
            <remap from="/firefly/path_show"           to="/$(arg namespace)/path_show" />

            <remap from="/ViewPoints"           to="/$(arg namespace)/ViewPoints" />
        </node>


    </group>

    <group ns="changi">
        
        <arg name="namespace"  default="changi" />

        <node name="baseline_planner" pkg="caric_baseline" output="screen" type="baseline_planner" launch-prefix="bash -c 'sleep 5; $0 $@'" >

            <!-- Input topics -->
            <remap from="/cloud_inW"                   to="/$(arg namespace)/cloud_inW" />
            <remap from="/nbr_odom_cloud"              to="/$(arg namespace)/nbr_odom_cloud" />
            <remap from="/firefly/gimbal"              to="/$(arg namespace)/gimbal" />
            <remap from="/ground_truth/odometry"       to="/$(arg namespace)/ground_truth/odometry" />

            <!-- Control outputs -->
            <remap from="/firefly/command/gimbal"      to="/$(arg namespace)/command/gimbal" />
            <remap from="/firefly/command/trajectory"  to="/$(arg namespace)/command/trajectory" />

            <!-- Vizualization -->
            <remap from="/firefly/map"                 to="/$(arg namespace)/map" />
            <remap from="/firefly/Nbr_mask"            to="/$(arg namespace)/Nbr_mask" />
            <remap from="/firefly/path_show"           to="/$(arg namespace)/path_show" />
        </node>

    </group>

    <group ns="nanyang">
        
        <arg name="namespace"  default="nanyang" />

        <node name="baseline_planner" pkg="caric_baseline" output="screen" type="baseline_planner" launch-prefix="bash -c 'sleep 5; $0 $@'" >

            <!-- Input topics -->
            <remap from="/cloud_inW"                   to="/$(arg namespace)/cloud_inW" />
            <remap from="/nbr_odom_cloud"              to="/$(arg namespace)/nbr_odom_cloud" />
            <remap from="/firefly/gimbal"              to="/$(arg namespace)/gimbal" />
            <remap from="/ground_truth/odometry"       to="/$(arg namespace)/ground_truth/odometry" />

            <!-- Control outputs -->
            <remap from="/firefly/command/gimbal"      to="/$(arg namespace)/command/gimbal" />
            <remap from="/firefly/command/trajectory"  to="/$(arg namespace)/command/trajectory" />

            <!-- Vizualization -->
            <remap from="/firefly/map"                 to="/$(arg namespace)/map" />
            <remap from="/firefly/Nbr_mask"            to="/$(arg namespace)/Nbr_mask" />
            <remap from="/firefly/path_show"           to="/$(arg namespace)/path_show" />
        </node>

    </group>

    <group ns="sentosa">
        
        <arg name="namespace"  default="sentosa" />

        <node name="baseline_planner" pkg="caric_baseline"  output="screen" type="baseline_planner" launch-prefix="bash -c 'sleep 5; $0 $@'" >

            <!-- Input topics -->
            <remap from="/cloud_inW"                   to="/$(arg namespace)/cloud_inW" />
            <remap from="/nbr_odom_cloud"              to="/$(arg namespace)/nbr_odom_cloud" />
            <remap from="/firefly/gimbal"              to="/$(arg namespace)/gimbal" />
            <remap from="/ground_truth/odometry"       to="/$(arg namespace)/ground_truth/odometry" />

            <!-- Control outputs -->
            <remap from="/firefly/command/gimbal"      to="/$(arg namespace)/command/gimbal" />
            <remap from="/firefly/command/trajectory"  to="/$(arg namespace)/command/trajectory" />

            <!-- Vizualization -->
            <remap from="/firefly/map"                 to="/$(arg namespace)/map" />
            <remap from="/firefly/Nbr_mask"            to="/$(arg namespace)/Nbr_mask" />
            <remap from="/firefly/path_show"           to="/$(arg namespace)/path_show" />
        </node>

    </group>

    <group ns="raffles">
        
        <arg name="namespace"  default="raffles" />
        
        <node name="vision_create" pkg="vision_create_new" type="process_pcd" launch-prefix="bash -c 'sleep 5; $0 $@'" >
            <remap from="/slf_kf_cloud"                to="/$(arg namespace)/slf_kf_cloud" />
            <remap from="/Octomap"                     to="/$(arg namespace)/Octomap" />
            <remap from="/ViewPoints_Points"           to="/$(arg namespace)/ViewPoints_Points" />
            <remap from="/ViewPoints_Lines"            to="/$(arg namespace)/ViewPoints_Lines" />
            <remap from="/ViewPoints"                  to="/$(arg namespace)/ViewPoints" />
            <remap from="/ViewPoints_lines"            to="/$(arg namespace)/ViewPoints_lines" />
        </node>

        <node name="baseline_planner" pkg="caric_baseline" type="baseline_planner" launch-prefix="bash -c 'sleep 5; $0 $@'" output="screen" >
            
            <!-- Input topics -->
            <remap from="/cloud_inW"                   to="/$(arg namespace)/cloud_inW" />
            <remap from="/nbr_odom_cloud"              to="/$(arg namespace)/nbr_odom_cloud" />
            <remap from="/firefly/gimbal"              to="/$(arg namespace)/gimbal" />
            <remap from="/ground_truth/odometry"       to="/$(arg namespace)/ground_truth/odometry" />

            <!-- Control outputs -->
            <remap from="/firefly/command/gimbal"      to="/$(arg namespace)/command/gimbal" />
            <remap from="/firefly/command/trajectory"  to="/$(arg namespace)/command/trajectory" />

            <!-- Vizualization -->
            <remap from="/firefly/map"                 to="/$(arg namespace)/map" />
            <remap from="/firefly/Nbr_mask"            to="/$(arg namespace)/Nbr_mask" />
            <remap from="/firefly/path_show"           to="/$(arg namespace)/path_show" />
            
            <remap from="/ViewPoints"           to="/$(arg namespace)/ViewPoints" />
        </node>
    

    </group>
    
    <!-- For visualization -->
    <node name="odom2tf" pkg="caric_mission" type="odom2tf.py"  />

    <!-- <param name="/model_path" type="string" value="$(find vision_create_new)/model/crane" />
    <param name="/bounding_box_path" type="string" value="$(find vision_create_new)/model/crane/bounding_boxes" />
    <node name="mesh_visualizer" pkg="vision_create" type="mesh_visualizer.py" output="screen" /> -->

	<node pkg="octomap_server" type="octomap_server_node" name="octomap_server">
    <!-- resolution in meters per pixel -->
    <param name="resolution" value="1.5" />
    <!-- name of the fixed frame, needs to be "/map" for SLAM -->
    <param name="frame_id" type="string" value="world" />
    <!-- max range / depth resolution of the kinect in meter -->
    <param name="sensor_model/max_range" value="100.0" />
    <param name="latch" value="true" />
    <!-- max/min height for occupancy map, should be in meters -->
    <param name="pointcloud_max_z" value="1000" />
    <param name="pointcloud_min_z" value="0" />
    <!-- topic from where pointcloud2 messages are subscribed -->
    <remap from="/cloud_in" to="/jurong/Octomap" />
    <remap from="/cloud_in" to="/raffles/Octomap" />
  	</node>

	<node name="rviz" pkg="rviz" type="rviz" args="-d $(find vision_create_new)/config/demo_config.rviz" />

</launch>